@page
@model CisternasGAMC.Pages.Citizen.CisternCalendarModel
@{
    Layout = "_Layout"; // Esto ya incluye el <head>
}

<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <div class="content">
            <section class="content">
                <div class="container-fluid">
                    <h1 class="calendar-title">
                        @(Model.NombreOTB) Distrito: @(Model.NumeroDistrito)
                    </h1>

                    <!-- Contenedor del calendario -->
                    <div id="calendar"></div>

                </div>
            </section>
        </div>
    </div>

    <!-- Incluye el archivo JavaScript -->
    <script src="~/js/Calendar.js"></script> <!-- Asegúrate de que la ruta sea correcta -->

</body>
