@page
@model CisternasGAMC.Pages.Citizen.IndexModel
@{
    Layout = "_Layout";
}
<div class="content-fluid">
    <!-- Contenido principal -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!-- Card con estilo de AdminLTE -->
                    <div class="card card-primary card-custom">
                        <div class="card-header header-custom">
                            <h3 class="card-title text-center">
                                INFORMATE SOBRE TU OTB
                            </h3>
                        </div>
                        <div class="card-body">
                            <!-- Formulario de selección -->
                            <form method="get" asp-page="CisternCalendar">
                                <div class="form-group">
                                    <label for="distritoSelect">Selecciona tu Distrito</label>
                                    <select class="form-control form-control-lg" id="distritoSelect" name="SelectedDistrito" asp-for="SelectedDistrito">
                                        @foreach (var distrito in Model.Distritos)
                                        {
                                            <option value="@distrito">@distrito</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="otbSelect">Selecciona un OTB</label>
                                    <select id="otbSelect" name="selectedOtb" class="form-control form-control-lg">
                                        @foreach (var otb in Model.Otbs)
                                        {
                                            <option value="@otb.OtbId">@otb.Name</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script src="~/js/distritos.js"></script>
}
