@page
@model CisternasGAMC.Pages.Login.IndexModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="main-container">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>Login</b></a>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.AntiForgeryToken()

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" asp-for="Correo">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                    </div>
                </form>

                <p class="mb-1 mt-2 text-center">
                    <a href="forgot-password.html">Olvidé mi contraseña</a>
                </p>
                @if (Model.LoginFailed)
                {
                    <p style="color:red">Login failed. Please try again.</p>
                }
            </div>
        </div>
    </div>
</div>
<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>



