/* Estilo para las tarjetas */
.card-custom {
    border-radius: 15px;
    padding: 20px;
}
.card-title {
    margin: 0; /* Elimina márgenes extra que podrían estar afectando */
    text-align: center; /* Asegura que el texto esté centrado */
}
/* Estilo para los headers de las tarjetas */
.header-custom {
    width: 100%; /* Asegura que el contenedor tome todo el ancho disponible */
    text-align: center; /* Centra el contenido dentro del div */
}
/* Estilos para hacer que la tabla sea más pequeña y manejable en móviles */
.table-responsive {
    overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
    margin-top: 15%;
}

@media (max-width: 600px) {
    /* Ajusta el tamaño de las celdas y el texto */
    .table th, .table td {
        font-size: 12px; /* Disminuye el tamaño del texto */
        padding: 4px; /* Reduce el padding */
    }

    /* Ocultar algunas columnas si es necesario para móviles */
    .table thead th:nth-child(2), /* Ejemplo: ocultar el lunes */
    .table tbody td:nth-child(2) {
        display: none;
    }

    /* Aumentar el tamaño del título en móviles */
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
}

/* Estilo para las filas de la tabla */
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

/* Estilo personalizado para el título del calendario */
.tittle-calendar {
    padding-top: 5%;
}
