@page
@model CisternasGAMC.Pages.Driver.IndexModel
@{
    Layout = "_LayoutDriver";
}

<div class="container d-flex align-items-center justify-content-center">
    <div class="form-section text-center" style="width: 100%; max-width: 600px;">
        <h2 class="mb-4">Selecciona la OTB</h2>
        <!-- Formulario que redirige a la página de entrega (Deliver) con el waterDeliveryId -->
        <form method="get" asp-page="/Driver/Deliver">
            <select id="otb" name="waterDeliveryId" class="form-control mb-3" style="font-size: 1.25rem;">
                @foreach (var waterDelivery in Model.waterDeliveries)
                {
                    var otb = waterDelivery.Otb;
                    if (otb != null)
                    {
                        <option value="@waterDelivery.WaterDeliveryId">@otb.Name</option>
                    }
                }
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Seleccionar Entrega</button>
        </form>
    </div>
</div>
